<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ash fusion Determinator</title>
    <meta name="description" content="Ash fusion Determinator - RPi">
    <meta name="author" content="Andrii Romanenko">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FONT -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <!-- CSS -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.datetimepicker.css">
    <link rel="stylesheet" href="static/css/my_style.css">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
  </head>
  
  <body>
    <div class="container">
      <!-- Datetimepicker form start -->
        <h2>Search for results</h2>
        <form id="datetime_range" action="/ash" method="GET"> 
          <div class="row">
            <div class="col-sm-4">
              <label for="from">From</label>
              <input id="datetimepicker1" type="text" value="{{from_date}}" name="from">
            </div>        
            <div class="col-sm-4">
              <label for="to">To</label>
              <input id="datetimepicker2" type="text" value="{{to_date}}" name="to">
            </div> 
            <div class="col-sm-4 find_button_div">
              <button id="submit_button" class="btn btn-outline-dark" type="submit">SEARCH</button>    
            </div>          
          </div>     
          <!-- Timezone info goes here -->                      
          <input type="hidden" class="timezone" name="timezone" />             
        </form> 
   
    
      <!-- Datetimepicker form end -->
    
      <div class="mt-3 text-center">
        <button type="button" id="preheat" class="btn btn-warning mr-2 mb-1">PREHEAT</button>
        <button type="button" id="new_test" class="btn btn-primary btn-lg mr-2 mb-1"">NEW ANALYSIS</button>
        <button type="button" id="stop_heater" class="btn btn-info mb-1"">STOP HEATER</button>
      </div>
      <!-- Status string -->
      <div class="row mb-3">
          <a href="" id="plotly_url" target="_blank"></a>
          <span id="status_info"></span>
      </div>
      
      <!--- START NEW ANALYSIS FORM --->
      
      <form id="new_test_form" action="/new_test"" method="POST"> 
        <div class="form-group row">
          <div class="col-sm-4">
              <label for="lab_number1">Samples &naturals; 1</label>
              <input class="form-control" id="lab_number1" type="text" value="" name="lab_number1">
          </div>
          <div class="col-sm-4">
              <label for="lab_number2">Samples &naturals; 2</label>
              <input class="form-control" id="lab_number2" type="text" value="" name="lab_number2">
          </div>
          <div class="col-sm-4">
              <label for="lab_number3">Samples &naturals; 3</label>
              <input class="form-control" id="lab_number3" type="text" value="" name="lab_number3">
          </div>          
        </div>
        <div class="form-group row">
          <div class="col-4"><label for="operator">Operator name</label></div>
          <div class="col-8"><input class="form-control" id="operator" type="text" value="" name="operator"></div>  
        </div>  
        <div class="form-group row">
          <div class="col-4"><label for="comments">Comments</label></div>
          <div class="col-8"><input class="form-control" id="comments" type="text" value="" name="comments"></div>  
        </div> 
        <button id="new_button" class="btn btn-success btn-lg" type="submit">START NEW ANALYSIS</button>
      </form> 
      
      

      
      <div class="row">
        <div class="one-third column" style="margin-top: 5%">
          <strong>Showing all records</strong>
          <h2>Temperatures</h2>
            <table class="u-full-width">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>&deg;C</th>
                </tr>
              </thead>
              <tbody>
                {% for row in temp %}
                <tr>
                  <td>{{row[0]}}</td>
                  <td>{{'%0.2f'|format(row[1])}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <h2>Humidities</h2>
            <table class="u-full-width">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>%</th>
                </tr>
              </thead>
              <tbody>
                {% for row in hum %}
                <tr>
                  <td>{{row[0]}}</td>
                  <td>{{'%0.2f'|format(row[1])}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
      <!-- Google Charts Code start -->
      <div class="two-thirds column" style="margin-top: 5%">
        <div class="row">                  
          <div class="row">
            <div class="three columns">
              <div id="chart_temps"></div>
              <div id="chart_humid"></div>
            </div>
          </div>
        </div>     
      </div>
      <!-- Google Charts Code end -->
    </div>
  </body>
  
 
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="static/javascript/jquery.datetimepicker.full.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.6/jstz.min.js" ></script>

  <script>
    jQuery('#datetimepicker1').datetimepicker({
      format:'Y-m-d H:i',
      defaultDate:'{{from_date}}'
    });
        
    jQuery('#datetimepicker2').datetimepicker({
      format:'Y-m-d H:i',
      defaultDate:'{{to_date}}'
    });
    //This code is for the datetime range form
    jQuery( "#datetime_range" ).submit(function( event ) {
      timezone = jstz.determine();
      jQuery(".timezone").val(timezone.name());      
    }); 
    jQuery("#new_test_form").toggle();    
  </script>
  
  <script src="static/javascript/ash-control.js"></script>
</html>

